/* global styles */

:root {
	--preset-box-shadow: 2px 2px 5px gray;
	--accent: #9EA300;
	--accent-bright: #D9E000;
	--accent-dark: #636600;
	--accent-darker: #404200;
	--footer-gray: #8e8a79;
	--light-gray: rgb(142, 138, 121, .2);
	--accent-textbox: rgba(204, 206, 148, 0.6);
	--main-bg: #F9F7F1;
	--text: #1b2021;
	
}

body {
	background-color: var(--main-bg);
}

hr {
border: 0;
height: 0;
border-bottom: 3px solid var(--accent);
width: 50%;
margin: 3em auto;
}

html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

/*
*
* links*/
a.site-title,
a.site-title:visited {
	font-weight: 900;
	color: var(--text);
}
header a {
	color: var(--text);
}
main a,
main a:visited {
	color: var(--accent-dark);
	text-decoration: underline;
	text-decoration-style: dotted;
}
main a:hover {
	color: var(--accent);
	text-decoration: none;
}
a:visited {
	color: inherit;
}

.footer-col-wrapper a {
font-size: 15px;
color: #8e8a79;
}

/*
*
* headings */
h1 {
	font-weight: 700;
}

h2 {
	margin-top: 1.5em;
}

pre,
code {
	background-color: #f2f2f2;
}

.class-title {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}
.class-title a,
.class-title a:hover,
.class-title a:visited {
	color: var(--text);
	text-decoration-color: var(--accent);
	text-decoration-thickness: 2px;
}
.class-title a:hover,
a.site-title:hover {
	text-decoration: none;
	color: var(--accent);
}

li > ol {
	list-style-type: lower-alpha;
}

/*
*
* nav menu */
.site-nav div {
	font-size: 0.9rem;
	font-weight: 300;
}
.site-nav a:hover {
	text-decoration-color: var(--accent);
	text-decoration-style: dotted;
}

.header-wrapper {
	max-width: 80%;
	margin: auto;
}

.header-wrapper .favicon {
	margin-right: 0.5rem;
}


@media screen and (max-width: 600px) {
	.header:nth-child(1) {
		max-width: 75% !important;
	}
	.site-title {
		line-height: normal;
		margin-left:1rem;
	}
}

@media screen and (max-width: 500px) {
	.header-wrapper .favicon {
		display:none;
	}
}

/* 
* 
* Footer styling */

.footer-col-wrapper {
	margin-left: 0;
}
.footer-col-wrapper .flex-row {
	margin-bottom: 1em;
}
/* @media screen and (min-width: 768px) {
	.footer-col-wrapper div.col:nth-child(1) {
		text-align: left;
		width: 40%;
	}
	.footer-col-wrapper div.col:nth-child(2) {
		text-align: center;
		width: 20%;
	}
	.footer-col-wrapper div.col:nth-child(3) {
		text-align: right;
		width: 40%;
	}
} */

@media scren and (max-width: 767px) {
	.footer-col-wrapper div.col {
		text-align: center !important;
	}
}

/* tables */
table, table th, table td {
	border-style: solid hidden;
}

table th {
	background-color: transparent;
	border-top: hidden;
	border-bottom: 2px solid var(--accent); 
}

/*
*
* card */

.card {
	box-shadow: var(--preset-box-shadow);
	background: white;
	padding: 1em;
	border-radius: 5px;
	margin-bottom: 3em;
}

.card p {
	margin-left: 1rem;
}

.card h1 {
	font-size: 1.5rem;
	border-bottom: 2px solid lightgray;
}

.card h2 {
	font-size: 1.25rem;
}

/*
*
* button styles */

a.button {
	display: inline-block;
	display: block;
	font-size: 1.25rem;
	margin: 1em 1em;
	padding: 1em;
	text-align: center;
}

a.button-outline {
	border: 2px solid var(--accent-dark);
	border-radius: 5px;
	color: var(--accent-dark);
}

a.button-outline:hover {
	border-color: var(--accent);
	color: var(--accent);
	text-decoration: none;
}

a.button-fill {
	background-color: var(--accent-dark);
	color: white !important;
	border-radius: 5px;
}

a.button-fill:hover {
	background-color: var(--accent);
	text-decoration: none;
}

/*
*
* previous/next buttons */

.post-nav {
	display: block;
	width: auto;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.post-nav a {
		width: 30%;
	}
}

.post-nav.responsive {
	flex-direction: column-reverse;
}

/* flex row */

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.justify-space {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
	align-items: center;
}

.justify-center {
	justify-content: center;
	gap: 2em;
}

.align-center {
	align-content: center;
	align-items: center;
}

.col {
	width: auto;
}

.col-40 {
	width: 40%;
}

.no-wrap {
	flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
	.flex-row.responsive {
		flex-direction: column;
		align-content: center;
		align-items: center;
		gap: unset;
	}
	.col-40 {
		width: 80%;
		max-width: 350px;
	}

	.card {
		margin-bottom: 2em;
	}
}

/*
*
* TOC */

#table-of-contents + ul li a {
	color: var(--text);
	text-decoration: none;
}
#table-of-contents + ul li a:hover {
	text-decoration: underline;
	text-decoration-color: var(--accent);
	text-decoration-style: dotted;
}

/*
*
* Key Takeaways */

.textbox--key-takeaways {
	background-color: var(--accent-textbox);
	margin: 2em 0;
	border-left: 4px solid var(--accent-dark);
}

.textbox--key-takeaways .textbox__header {
	background-color: var(--accent);
	padding: 1em;
	
}

.textbox--key-takeaways .textbox__title {
	margin-bottom: 0;
	color: var(--accent-darker);
	text-transform: uppercase;
	font-weight: 700;
}

.textbox--key-takeaways .textbox__content {
	padding: 1em 2em;
}

/*
*
* Media styling */

iframe, img {
	display: block;
	margin: auto;
}


/*
*
* Caption styling */

figcaption {
	text-align: center;
	font-style: italic;
	margin-bottom: 1em;
}

figcaption i {
	font-style: normal;
}


/*
*
* ordered list styling */

ol {
	display: block;
	background-color: var(--light-gray);
	padding: 2em 2em 2em 4em;
}

ol li {
	margin-bottom: 1rem;
}

ol ol {
	background-color: transparent;
	padding: 0;
	list-style-type: lower-alpha;
	margin-top: 1rem;
}

ol ol li {
	margin-bottom: 0;
}


/* smooth scroll anchor links */
html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}